.box{
    width:400px;
    height:300px;    
    /*float:left;
    position: absolute;*/
}
.bringFront{
    z-index: 99;
}
.bringBack{
    z-index: 10;
}
.mrg1{
    margin-left: 10px;
}
.mrg2{
    margin-left: 150px;
}
.bckBlack{
    background-color: black;
}
.bckRed{
    background-color: red;
}
.mainContainer{
    width:300px;
    height:300px;
    background-color: blue;
   position: absolute;

}
.innerBox{
    width:50px;
    height:50px;
    background-color:#080;
    position:absolute;
    /*position: fixed;*/
    top:0;
    right:0;
    border-radius: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}